main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 20px 0;
}

form {
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--overlay-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-family: 'Trade Winds', system-ui;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field label {
  font-weight: 600;
}

.form-field input {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  transition: border-color ease 0.2s;
}

.form-field input:focus {
  border-color: var(--primary-color);
}

.form-field:has(input:focus):not(.checkbox-field) label {
  color: var(--primary-color);
}

.checkbox-field {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  align-self: center;
}

.checkbox-field input {
  width: 15px;
  height: 15px;
  accent-color: var(--primary-color);
}

.checkbox-field label {
  font-size: 1.4rem;
}

.checkbox-field label a {
  color: var(--primary-color);
}

.submit-btn {
  font-family: 'Trade Winds', system-ui;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: letter-spacing ease 0.2s;
}

.submit-btn:hover {
  letter-spacing: 5px;
}

.redirect-link {
  font-size: 1.4rem;
  align-self: center;
}

.redirect-link a {
  color: var(--primary-color);
}
