@keyframes fadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes flyIn {
  from {
    opacity: 0.6;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 30px;
  border-bottom: 1px solid #b1122765;
  background-color: var(--overlay-color);
  box-shadow: 0 2px 5px 2px #b1122765;
}

.home-link {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  text-decoration: none;
}

.brand .logo {
  width: 30px;
}

.app-name {
  font-family: 'Trade Winds', system-ui;
  font-size: 2rem;
  color: var(--primary-color);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: var(--primary-color);
}

.username {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
}

.username:hover {
  text-decoration: underline;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px 8px;
  transition: color ease 0.1s;
}

.logout-btn i {
  font-size: 1.2rem;
  transition: transform ease 0.1s;
}

.logout-btn:hover {
  color: var(--primary-color);
}

.logout-btn:hover i {
  transform: translateX(3px);
}

main {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.section-title {
  font-weight: 600;
  font-size: 1.8rem;
}

.join-club {
  flex: 1;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.create-post-btn {
  margin-top: auto;
  cursor: pointer;
  padding: 10px;
  background-color: var(--overlay-color);
  font-weight: 600;
  border-radius: 5px;
  transition: transform ease 0.2s;
}

.create-post-btn:hover {
  transform: scale(1.03);
}

.create-post-btn:active {
  transform: scale(0.97);
}

.join-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.code-label {
  font-weight: 500;
  transition: color ease 0.2s;
}

.code-input {
  border-radius: 5px;
  border: 1px solid var(--text-color);
  padding: 10px;
  transition: border-color ease 0.2s;
}

.code-input:focus {
  border-color: var(--primary-color);
}

.join-form:has(.code-input:focus) .code-label {
  color: var(--primary-color);
}

.submit-btn {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 10px;
  transition: transform ease 0.2s;
}

.submit-btn:hover {
  transform: scale(1.03);
}

.submit-btn:active {
  transform: scale(0.97);
}

.admin-code-input:focus {
  border-color: var(--secondary-color);
}

.join-form:has(.admin-code-input:focus) .admin-code-label {
  color: var(--secondary-color);
}

.admin-submit-btn {
  background-color: var(--secondary-color);
}

.feed {
  flex: 3;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--overlay-color);
  border-radius: 5px;
}

.post-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post-author {
  color: var(--primary-color);
  font-weight: 600;
}

.post-time {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-title {
  font-weight: 600;
}

.post-description {
  line-height: 1.4;
}

.like-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  transition:
    background-color ease 0.2s,
    color ease 0.2s;
}

.like-btn:hover {
  background-color: var(--overlay-color);
}

.like-btn .solid-icon {
  display: none;
}

.like-btn.liked {
  color: var(--primary-color);
  background-color: var(--overlay-color);
}

.like-btn.liked .regular-icon {
  display: none;
}

.like-btn.liked .solid-icon {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.user-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.user-item {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--overlay-color);
}

.user-item:hover a {
  text-decoration: underline;
}

.user-item.member {
  background-color: var(--primary-color);
}

.user-item.admin {
  background-color: var(--secondary-color);
}

.user-item a {
  padding: 8px 12px;
  flex: 1;
  color: var(--text-color);
  text-decoration: none;
}

.user-item:last-child {
  text-align: center;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  place-items: center;
  z-index: 1000;
  animation: fadeIn ease 0.2s;
}

.modal.show {
  display: grid;
}

.modal-content {
  border: 1px solid #b1122765;
  box-shadow: 0 0 3px 1px #b1122765;
  background-color: var(--background-color);
  padding: 1.5rem;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: flyIn ease 0.2s;
}

.modal-title {
  font-weight: 600;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field input,
.form-field textarea {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.form-field textarea {
  resize: none;
}

.form-actions {
  align-self: self-end;
}

.close-btn {
  cursor: pointer;
  background-color: var(--overlay-color);
  border-radius: 5px;
  padding: 10px;
  transition: transform ease 0.2s;
}

.close-btn:hover {
  transform: scale(1.03);
}

.close-btn:active {
  transform: scale(0.97);
}
